<?xml version="1.0"?>
<!-- 
/**
 * @category   SMS
 * @package    Mocean_Moceansms
 * @author     Mocean
 */
 -->
<config>
  <modules>
    <Mocean_Moceansms>
      <version>1.0.1</version>
    </Mocean_Moceansms>
  </modules>
  
  
  <admin>
        <routers>
			<moceansms>
				<use>admin</use>
				<args>
					<module>Mocean_Moceansms</module>
					<frontName>moceansms</frontName>
				</args>
			</moceansms>
        </routers>
    </admin>
	
	
  <adminhtml>
        <menu>
            <customer>
                <children>
                    <moceansms module="moceansms">
                        <title>Send SMS</title>
                        <sort_order>200</sort_order>
                        <action>moceansms/adminhtml_moceansms/index</action>
                    </moceansms>
                </children>
            </customer>
        </menu>
		
		<layout>
			<updates>
				<moceansms>
					<file>moceansms.xml</file>
				</moceansms>
			</updates>
		</layout>
  </adminhtml>
  

  <global>
	<blocks>
            <moceansms>
                <class>Mocean_Moceansms_Block</class>
            </moceansms>
        </blocks>
		
    <models>
      <moceansms>
        <class>Mocean_Moceansms_Model</class>
      </moceansms>
    </models>
	  

    <helpers>
      <moceansms>
        <class>Mocean_Moceansms_Helper</class>
      </moceansms>
    </helpers>
	
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <Mocean_Moceansms_Created>
            <type>singleton</type>
            <class>Mocean_Moceansms_Model_Observer</class>
            <method>sendSmsOnOrderCreated</method>
          </Mocean_Moceansms_Created>
        </observers>
      </checkout_onepage_controller_success_action>
      <sales_order_save_after>
        <observers>
          <Mocean_Moceansms_Order_Hold>
            <type>singleton</type>
            <class>Mocean_Moceansms_Model_Observer</class>
            <method>sendSmsOnOrderHold</method>
          </Mocean_Moceansms_Order_Hold>
          <Mocean_Moceansms_Order_Unhold>
            <type>singleton</type>
            <class>Mocean_Moceansms_Model_Observer</class>
            <method>sendSmsOnOrderUnhold</method>
          </Mocean_Moceansms_Order_Unhold>
          <Mocean_Moceansms_Order_Canceled>
            <type>singleton</type>
            <class>Mocean_Moceansms_Model_Observer</class>
            <method>sendSmsOnOrderCanceled</method>
          </Mocean_Moceansms_Order_Canceled>
        </observers>
      </sales_order_save_after>
      <sales_order_shipment_save_after>
        <observers>
          <Mocean_Moceansms_Shipment_Created>
            <type>singleton</type>
            <class>Mocean_Moceansms_Model_Observer</class>
            <method>sendSmsOnShipmentCreated</method>
          </Mocean_Moceansms_Shipment_Created>
        </observers>
      </sales_order_shipment_save_after>
    </events>
  </global>
 

  <default>
    <moceansms>
		<general>
		<weburl>your-mocean-key</weburl>
		<api_key>your-mocean-key</api_key>
       <api_secret>your-mocean-secret</api_secret>
       <mocean_from>Admin</mocean_from>
    </general>
		 <admin>
        <enabled>0</enabled>
        <admin_mobile>60123456789</admin_mobile>
        <message>{{sitename}}: New order were made. Order no. {{order_id}} Total amount: {{amount}}</message>
     </admin>
      <orders>
        <enabled>0</enabled>
        <sender>Magento</sender>
        <message>Dear {{firstname}}, Your order has been received. Order no. {{order_id}}. Thank you for your purchase!</message>
        <notify>0</notify>
      </orders>
      <order_hold>
        <enabled>0</enabled>
        <sender>Magento</sender>
        <message>Dear {{firstname}}, Your order {{order_id}} has been placed on hold.</message>
      </order_hold>
      <order_unhold>
        <enabled>0</enabled>
        <sender>Magento</sender>
        <message>Dear {{firstname}}, Your order {{order_id}} has been released for delivery.</message>
      </order_unhold>
      <order_canceled>
        <enabled>0</enabled>
        <sender>Magento</sender>
        <message>Dear {{firstname}}, Your order {{order_id}} has been canceled.</message>
      </order_canceled>
      <shipments>
        <enabled>0</enabled>
        <sender>Magento</sender>
        <message>Dear {{firstname}}. Your order ({{order_id}}) has been shipped. Thank you for buying from us!</message>
      </shipments>
    </moceansms>
  </default>
</config>
